JENKINS_ADMIN_ID=<your_secret>
JENKINS_ADMIN_PASSWORD=<your_secret>
GITHUB_USERNAME=<your_secret>
GITHUB_TOKEN=<your_secret>
GITHUB_WEBHOOK_SECRET=<your_secret>
WEBHOOKRELAY_KEY=<your_secret>
WEBHOOKRELAY_SECRET=<your_secret>
DOCKERHUB_USERNAME=<your_secret>
DOCKERHUB_TOKEN=<your_secret>
ADMIN_ADDRESS=<your_secret>
TELEGRAM_TOKEN=<your_secret>
GRAFANA_PASSWORD=<your_secret>
GRAFANA_USERNAME=<your_secret>
